<div class="card">
    <div class="card-header">
        <h3>Busca de produtos</h3>
    </div>
    <div class="card-body">
        <form>
            <div class="form-group">
                <label for="nome" class="form-control-label">Nome do Produto:</label>
                <input type="text" id="nome" name="nome" class="form-control">
            </div>
    
            <div class="form-group mt-3">
                <label for="fabricanteDoProduto" class="form-control-label">Fabricante do Produto:</label>
                <input type="text" id="fabricanteDoProduto" name="fabricanteDoProduto" class="form-control">
            </div>
    
            <div class="form-group mt-3">
                <label for="valor" class="form-control-label">Valor Máximo:</label>
                <input type="number" id="valor" name="valor" class="form-control">
            </div>
    
            <div class="form-group mt-3">
                <label for="pesoInicial" class="form-control-label">Peso Inicial:</label>
                <input type="number" id="pesoInicial" name="pesoInicial" class="form-control">
            </div>
    
            <div class="form-group mt-3">
                <label for="pesoMaximo" class="form-control-label">Peso Máximo:</label>
                <input type="number" id="pesoMaximo" name="pesoMaximo" class="form-control">
            </div>
    
            <div class="form-group mt-3">
                <label for="dataCadastroInicial" class="form-control-label">Data de Cadastro Inicial:</label>
                <input type="date" id="dataCadastroInicial" name="dataCadastroInicial" class="form-control">
            </div>
    
            <div class="form-group mt-3">
                <label for="dataCadastroMaximo" class="form-control-label">Data de Cadastro Máxima:</label>
                <input type="date" id="dataCadastroMaximo" name="dataCadastroMaximo" class="form-control">
            </div>
    
            <div class="form-group mt-3">
                <label for="cnpjFabricante" class="form-control-label">CNPJ do Fabricante:</label>
                <input type="text" id="cnpjFabricante" name="cnpjFabricante" class="form-control">
            </div>
    
            <button type="button" class="btn btn-success mt-3">Pesquisar</button>
        </form>
    </div>
</div>