:root{
    /* cores */
    --background: rgba(185, 255, 253, 0.113);
    --principal: rgb(44, 224, 218);
    --transparente: rgba(0, 255, 255, 0);
}

body{
    background-image: url(../imagens/background2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#relogio{
    margin: 10px auto 0 auto;
    width:fit-content;
    text-align: center;
    padding:10px 10px 0 10px;
    font-family: 'DS-Digital', sans-serif;
    font-size:35px;
}

main{
    margin:0 auto;
    width: 50%;
    border: 5px dotted var(--principal);
    border-radius:20px;
    background-color:var(--background);
    text-align: center;
    height: 400px;
    color:white;
}
main p, main label{
    font-size: 20px;
}

main button{
    margin: 10px auto;
    border-radius: 10px;
    background-color: var(--transparente);
    color:white;
    border-color: white;
    width: 100px;
    height: 20px;
}

main button:hover{
    background-color:var(--background);
}

div {
    display: flex;
    align-items: center;
}

.endereco{
    margin:0 auto;
    width:250px;
    text-align:left;
}

.endereco label{
    display:block;
    width:150px;
}

